include header.pug
body.home-page
    .container-fluid
        .nav-horizontal
            ul.dropdown-top.row
                li.dropdown-item.col-md-4 Something
                li.dropdown-item.col-md-4 Something
                li.dropdown-item.col-md-4 Something
        .nav-vertical
            span.collapse-menu <i class="fas fa-align-justify"></i>
            ul.dropdown-left
                li.dropdown-item home
                li.dropdown-item awards
                li.dropdown-item events
                li.dropdown-item education
                li.dropdown-item about
                li.dropdown-item contacts
    script.
        

