include header.pug
body
    .login-container
        .facebook#fb
        .form
            input(type="email" placeholder="email" name="email")
            input(type="password" placeholder="password" name="pass")
            p
                a(href="#") Forgot your password
            .sub-block OR
    script
        include ../assets/javascript/script.js