include header.pug
body.landing-page.container-fluid
    .row.navigation
        .col-md-3.content-logo
            img(src="http://gloria-project.eu/wp-content/uploads/2012/06/logo-256-transp.png", alt="logo Oauth Server").logo
            h2.title OAUTH SERVER
        ul.col-md-9
            li <a href="http://localhost:3000/register"> Resgister
            li <a href="http://localhost:3000/login"> Login