include header.pug
body.landing-page.container-fluid
    .row.navigation
        .col-md-3.content-logo
            img(src="https://png.kisspng.com/20180402/eje/kisspng-logo-3d-computer-graphics-graphic-designer-green-abstract-5ac288c2c238e4.8979783415226984347955.png", alt="logo Oauth Server").logo
            h2.title OAUTH SERVER
        ul.col-md-9
            li <a href="http://localhost:3000/register"> Resgister
            li <a href="http://localhost:3000/login"> Login