include landingpage.pug
body
    .content.register-page
        .form-group
            label Client_id
            input(type="text" value=client_id).form-control
        .form-group
            label Client_secret
            input(type="text" value=client_secret).form-control