.home-page {
    margin: 0;
    padding: 0;
    .container-fluid {
        padding: 0;
    }
    .nav-horizontal {
        .dropdown-top {
            width: 100%;
            padding: 0;
            list-style: none;
            height: 70px;
            margin: 0;
            .dropdown-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33.3333%;
                float: left;
                border-left: 2px solid;
                height: 70px;
                text-align: center;
                color: #fff;
                background: black;
                &:first-child {
                    border: none;
                }
            }
        }
    }
    .nav-vertical {
        width: 200px;
        height: 100%;
        .collapse-menu {
            font-size: 30px;
        }
        .dropdown-left {
            height: 100%;
            padding: 0;
            margin: 0;
            display: none;
            .dropdown-item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;
                width: 100%;
                border-top: 1px solid;
                &:last-child {
                    border-bottom: 1px solid;
                }
            }
        }
    }
}
